.list-character{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.list-options{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
